/* Global Styles */

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

/* Body Styles */

body {
  font-family: var(--font-roboto);
  background-color: #ffffff;
}


/* Nav Styles */

.navContainer {
  border-bottom: 2px solid #FF9D9D;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
}

.topNav {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.topNav ul {
  padding: 0;
  margin: 0;
  justify-content: right;
}

.topNav a {
  font-size: 13px;
  text-transform: uppercase;
}


nav h1 {
  font-size: 2rem;
  color: #333;
}

h1 {
  font-size: 2rem;
  letter-spacing: 1px;
  color: #FF9D9D;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 20px;
  font-size: 15px;
}

li a {
  text-decoration: none;
  color: #FF9D9D;
  font-weight: bold;
  transition: color 0.3s;
  text-transform: uppercase;
}

.logoutbtn {
  background-color: #d6d6d692;
  font-size: 0.6rem;
  padding: 10px;
margin-left: 94%;
margin-top: 10px;
}

.logoutbtn:hover{
  background-color: #cccc;
}

/* Header Styles */

h2 {
  font-size: 1rem;
  letter-spacing: 1px;
  color: #0a0a0a;
  width: fit-content;
  margin: 30px auto;
  text-align: center;
  font-weight: 400;
}

h3 {
  font-size: 1rem;
  color: #000000;
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 40px;
  padding-top: 30px;
  text-transform: uppercase;
}

/* Search Styles */

.search {
  width: 33%;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #FF9D9D;
  border-radius: 4px;
}

.search input {
  flex: 1;
  font-size: 1rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;
  border: none;
  color: #070707;
  background: #ffffff;
}

/* Venue Styles */

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.venue {
  width: 360px;
  height:fit-content;
  min-height: 450px;
  max-height: 450px;
  margin: 10px;
  position: relative;
  border-radius: 12px;
  border: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.021);
  justify-content: center;

}



.venue:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.235);
  /*transform: scale(1.05, 1.05);*/
}

/*.venue div:nth-of-type(3) {
  z-index: 2;
  background-color: #98999a7b;
  padding: 16px 24px 24px 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}*/

/*.venue div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #747272;
}

.venue div:nth-of-type(3) h3 {
  margin-top: 9px;
  margin-bottom: 9px;
  font-family: "Roboto Slab", serif;
  color: #151515;
  font-size: 12px;
}*/

.venue img {
  width: 300px;
  min-height: 240px;
  max-height: 240px ;
  display: block;
}

.venue h3 {
  font-size: 1.25rem;
  color: #333;
  padding: 0.5rem;
}

.venue p {
  padding: 0.5rem;
  font-size: 0.875rem;
  color: #666;
  display: flex;
  justify-content: center;
}

.empty h2 {
  text-align: center;
  color: #666;
  padding: 2rem;
}

.venue button {
  background-color: #F25C5C;
  color: #ffffff;
  padding: 10px 20px;
 text-decoration: none;
 margin-top:auto; 
 margin-left: 30%;
}

.venue .rating .stars {
  color: gold; 
  font-size: 1rem; 
}

.venue .rating .no-rating {
  color: #000000; 
  font-size: 12px; 
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button{
padding: 10px;
border: 1px #0000007a solid;
margin: 3px;
background-color: #f7f7f79d;
}

.pagination button:hover {
  color: #F25C5C;
}


/* Specific */

/* Container for the entire Specific component */
.specific-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.specific-container h2 {
  text-transform: uppercase;
  font-size: 14px;
}


/* Top section with venue image and info */
.venueinfotop {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.venueImg img {
  max-width: 100%;
  height: auto;
}

.venue-info {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-wrap: nowrap; 
  gap: 9rem;


}

.venue-info h3 {
  font-size: 16px;
  text-transform: uppercase;
}

.venue-info p {
  font-size: 16px;
  text-transform: uppercase;
}

.venue-rating {
  display: flex;
  justify-content: center;
  color: gold;
  font-size: 25px;
}

/* Location and Details sections */
.location,
.details {
  margin-bottom: 20px;
}

.location h2,
.details h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: uppercase
}

.location p,
.details p {
  font-size: 13px;
  margin: 5px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Booking section */
.booking {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  display: block;

}

.booking p {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.bookingDetails {
  font-size: 12px;
}

.bookingDetails p{
  padding: 5px;
}

.date-picker-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

}

/*.date-picker-container .mr-2,
.date-picker-container .ml-2 {
  flex: 1;
} */

.date-picker-container p {
  font-size: 14px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

/* Guests input */
.guests-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.guests-input label {
  font-size: 14px;
  margin-right: 10px;
}

.guests-input input {
  font-size: 16px;
  width: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Selected Dates and Book Now button */
.selected-dates {
  font-size: 16px;
  margin-bottom: 10px;
}

.book-now-button {
  background-color: #F25C5C;
  color: #fff;
  padding: 10px 40px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 40%;
}

.book-now-button:disabled {
  background-color: #FF9D9D;
  cursor: not-allowed;
  display: flex;
}

.venueDetails {
  font-size: 12px;
  padding: 10px;
  letter-spacing: 1px;
}

.venueDetails p{
  margin: 2px;
}

.updateBtn {
  font-size: 12px;
  padding: 10px 20px;
  margin: 10px;
  background-color: #FF9D9D;
  color: #fff;
 
}


/* Profile */

.profile-container {
  display: flex;
  justify-content: center;
}

.profile-container h1 {
  display: flex;
  justify-content: center;
  color: #0a0a0a;
  font-size: 16px;
}

.avatar {
  display: flex;
  justify-content: center;

}

.avatar img{
  border: 1px #4e4e4e67 solid;
  border-radius: 100%;
  padding: 5px;
  padding-left: 60px;
  padding-right: 60px;
  min-width: 400px;
  max-width: 400px;

}

.topcontainer-profile {
  width: 800px;
}


/* Login*/

.loginform {
  width: 600px;
  display: block;
  margin-left: 30%;
}

.loginform h2, input, button {
  display: flex;
  justify-content: center;
}

.loginform label {
  font-size: 13px;
}

.loginform button {
  padding: 10px 90px;
  margin-left: 30%;
  color: #ffffff;
  background-color: #FF9D9D;
}

.loginform button:hover {
  background-color: #F25C5C;
}

/* Register*/

.register-container {
  width: 600px;
  display: block;
  margin-left: 35%;
}

.register-container button {
  padding: 10px 90px;
  color: #ffffff;
  background-color: #FF9D9D;
}

.register-container button:hover {
  background-color: #F25C5C;
}


/* footer */

footer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 12px;
}
